@import "config.scss";

body {
  overflow-x: hidden;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 1000;

  .menu-toggle {
    cursor: pointer;
    font-size: 2.5em;
    position: inherit;
    top: 10px;
    right: 15px;
    z-index: 1000;
  }

  nav {
    background: #26202d;
    position: inherit;
    width: auto;
    top: 55px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in;

    .menu-list {
      color: #fff;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: flex;
        flex-direction: column;
      }

      .menu-item {
        color: #fff;
        padding: 20px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.6s ease;
      }
    }
  }
}

section {
  height: 100vh;
  width: 100vw;
}

#home {
  @include center-content;
  background: #000000;
  color: #ffffff;

  h1 {
    font-size: 2.2em;
    margin: 0.4em;
  }

  hr {
    width: 250px;
    border: 1.5px solid;
    transform: scale(0);
    animation: line 2s;
    animation-fill-mode: forwards;
  }

  @keyframes line {
    100% {
      transform: scale(1);
    }
  }
}

.active {
  background: #ff3255;
}

#about {
  @include center-content;
  text-align: center;

  img {
    border-radius: 50%;
    width: 320px;
    padding: 20px 0;
  }

  div p {
    width: 50%;
    margin: auto;
  }
}

#education {
  @include center-content;
  text-align: center;

  h2 {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  }
}

#experience {
  width: 75%;
  margin: 0 auto;

  h2 {
  }

  .content {
    width: 50%;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .details {
      padding: 0.2em 0;
    }

    .duration {
      color: grey;
      font-style: italic;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 10px;
      background-color: #fff;
      color: #444;
    }
  }
}

#technologies {
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .skill-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 5em;

    .skill {
      background-color: #26202d;
      border-radius: 12px;
      color: #ffffff;
      text-align: center;
      padding: 1.2em 0;
    }
  }
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  }

  a {
    color: #333333;
  }

  i {
    font-size: 2.5em;
    padding: 1.2em;
  }
}

@media only screen and (max-width: 1366px) {
  #experience {
    @include center-content;
    width: 85%;
    margin: 0 auto;

    .content {
      width: 100%;
      height: auto;
      float: none;
    }
  }

  #technologies {
    width: 85%;
    margin: 0 auto;

    .skill-wrapper {
      padding: 5em 1.2em;
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding: 1.2em 0;
  }

  #about {
    div p {
      width: 75%;
    }
  }

  #experience {
    width: 85%;
    margin: 0 auto;

    .content {
      width: 100%;
      height: auto;
      float: none;
    }
  }

  #technologies {
    width: 85%;
    margin: 0 auto;

    .text-center {
      padding: 1.2em 0;
    }

    .skill-wrapper {
      padding: 5em 1.2em;
    }
  }
}

@media only screen and (max-width: 645px) {
  #experience,
  #about {
    @include center-content;
  }

  #experience {
    height: auto;
  }

  #about {
    height: 100vh;
  }

  #experience {
    width: 85%;
    margin: 0 auto;

    .content {
      width: 100%;
      height: auto;
      float: none;
    }
  }

  #technologies {
    width: 85%;
    margin: 0 auto;

    .skill-wrapper {
      display: grid;
      grid-template-columns: auto auto;
      padding: 0;
    }
  }

  #contact i {
    padding: 0.2em;
  }
}
